[Unit]
Description=Kamera-Panel
After=network-online.target

[Service]
Type=simple
User=panel
Group=panel
RuntimeDirectory=panel
Environment=DISPLAY=:0
ExecStart=/usr/bin/xinit /usr/bin/python3 -m panel.main -- :0 -nocursor
WorkingDirectory=/opt/pi-panel
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
